@using CIPlatform.Models.ViewDataModels
@model StoryDetailViewModel

@{
    int totalItems = Model.ShareStory.Photos.Count + Model.ShareStory.VideoUrl.Count;
}
<script src="~/js/StoryListing.js"></script>

<div class=container-fluid>

    <partial name="_Header" />
    <hr />

    <div class="container mt-4">
        <div class="mission-image-and-info-wrapper row flex-column flex-lg-row">
            <div class="temp col-lg-6 order-lg-1 order-2">

                <div class="d-sm-flex w-md-100 w-lg-50 flex-column d-none h-100">


                    <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" id="image-area" class="w-100" style="height:576px" />
                    <iframe src=""  id="video-area" style="height: 576px;display:none"></iframe>

                    <div id="carousel-bottom" class="carousel slide">
                        <div class="carousel-inner">
                            @for (int i = 0; i < totalItems; i += 4)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row p-1">
                                        @for (int j = i; j < i + 4 && j < totalItems; j++)
                                        {
                                            <div class="col-3 p-1">
                                                @if (j < Model.ShareStory.Photos.Count)
                                                {
                                                    <img src="@Model.ShareStory.Photos[j]" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                                }
                                                else if (j < totalItems)
                                                {
                                                    int videoIndex = j - Model.ShareStory.Photos.Count;
                                                    if (videoIndex % 2 == 0)
                                                    {
                                                        <img src="~/assets/videoplayer3.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" data-vpath="@Model.ShareStory.VideoUrl[videoIndex]" width="175" height="120" role="img" onclick="displayVideo(this)">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/assets/videoplayer2.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" data-vpath="@Model.ShareStory.VideoUrl[videoIndex]" width="175" height="120" role="img" onclick="displayVideo(this)">
                                                    }

                                                    @*<iframe src="@Model.ShareStory.VideoUrl[videoIndex]" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width: 100%; height: 100%;"></iframe>*@
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                                }
                            </div>
                    


                        <button class="carousel-control-prev w-auto ps-2 pe-2 bg-black bg-opacity-50 mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="prev">
                            <img src="~/assets/left1.png" aria-hidden="true" />
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next w-auto ps-2 pe-2 bg-black bg-opacity-50  mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="next">
                            <img src="~/assets/right-arrow2.png" aria-hidden="true" />
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="w-100 d-xs-block d-sm-none">
                    <partial name="_CarouselMobileView" />
                </div>
            </div>


            <div class="col-lg-6 order-lg-2 order-1 mt-lg-5 mb-lg-0 mb-4" id="storyDetailRightUpper">
                <div class="d-flex justify-content-between align-items-end">
                    <div class="d-flex flex-column">
                        <img src="@Model.Avatar" class="rounded-circle" style="height:75px; width:75px" />
                        <span>@Model.Name</span>
                    </div>
                    <div class="storyViews bg-white border px-3 py-1 rounded-pill">
                        <i class="bi bi-eye fst-normal"> &nbsp; @Model.totalViews Views</i>
                    </div>
                </div>

                <div class="whyIVolunteer mt-4">
                    <p class="fs-13 fw-lighter">
                       @Html.Raw(@Model.WhyIVolunteer)
                    </p>
                </div>

                   <div class="row align-items-center">
                       <div class="col-8">
                           <partial name="_ReccommendBtn"  model="Model.Users" />
                       </div>
                       <div class="col-4">
                        <button class="btn-primary form-control bg-white border-orange p-2 rounded-pill text-orange" id="storydetailbtn-tomission" data-missionid=@Model.ShareStory.MissionId>
                            Open Mission &nbsp; &nbsp; <i class="bi bi-arrow-right"></i>
                        </button>
                       </div>
                   </div>
                   
                <div class="d-flex justify-content-between">
                   
                </div>

            </div>
        </div>

        <div class="mt-4 story-details-info">
            <h2>@Model.ShareStory.StoryTitle</h2>
            <hr style="border:0.5px solid black" />
           <hr style="border:1.5px solid black;width:100px;margin-top:-1rem"/>

           <div class="story-description-all">
              @Html.Raw(@Model.ShareStory.MyStory)
            </div>
        </div>

    </div>
</div>








<input type="hidden" id="name-input" value="@Model.Name" />
<input type="hidden" id="storytitle-input" value="@Model.ShareStory.StoryTitle" />
<input type="hidden" id="missionid-input" value="@Model.ShareStory.MissionId" />