@using CIPlatform.Models.AdminViewModels
@model List<AdminStoryVM>

@foreach (var item in Model)
{
    <tr>
        <td>@item.StoryTitle</td>
        <td class="">@item.FullName</td>
        <td>@item.MissionTitle</td>
        <td>
            <a href="https://localhost:44383/StoryListing/StoryDetail?missionId=@item.MissionId&storyId=@item.StoryId&userId=@item.UserId" target="_blank" id="" class="btn rounded-pill fst-normal text-decoration-none border-orange bg-white text-orange px-3 py-0 me-1">
                View
            </a>
            <button class="btn bg-white border-0 p-0 m-0 fst-normal text-decoration-none" data-storyid="@item.StoryId" onclick="StoryApprove(this)">
                <i class="bi bi-check-circle text-success"></i>
            </button>
            <button class="btn bg-white border-0 p-0 m-0" id="deleteTimebasedTimesheet" data-storyid="@item.StoryId" onclick="StoryReject(this)">
                <i class="bi bi-x-circle text-danger"></i>
            </button>
            <a href="" id="deleteTimebasedTimesheet">
                <i class="text-secondary bi bi-trash"></i>
            </a>
        </td>
    </tr>
}