@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CIPlatform.Models.AdminViewModels
@model PageList<AdminCmsVM>


<div id="v-pills-cmspage">
    <div class="cms-header border-bottom border-light">
        <span class="h2 border-bottom border-dark">CMS Page</span>
    </div>
    <div class="d-flex search-cms-and-add mt-3 justify-content-between">
        <div class="search-user d-flex align-items-center border ps-3">
            <img src="/assets/search.png" alt="" style="height:14px">&nbsp;&nbsp;
            <input class="form-control border border-0" type="search" placeholder="Search" aria-label="Search" id="search-cms-query">
        </div>
        <div class="user-add">
            <button class="btn bg-white text-orange border-orange px-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#cmsAddModal-0"> <i class="bi bi-plus"></i> Add </button>
        </div>
    </div>
    <div class="cms-table mt-4">
        <table class="table" style="">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="admin-cms-table-body-wrapper">
                <partial name="_AdminCmsTablePartial" model="@Model.Records" />
                @*@foreach (var item in Model.Records)
                {
                    <tr>
                        <td>@item.Title</td>
                        @if ((bool)item.Status)
                        {
                            <td class="text-success">Active</td>
                        }
                        else
                        {
                            <td class="text-danger">Inactive</td>
                        }
                        <td>
                            <a href="" class="fst-normal text-decoration-none" data-bs-toggle="modal" data-bs-target="#cmsAddModal-@item.CMSId">
                                <i class="bi text-orange bi-pencil-square me-2"></i>
                            </a>
                             <partial name="_AdminCmsAddForm" model="@item" />
                            
                            <a href="" id="deleteTimebasedTimesheet">
                                <i class="text-secondary bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>


         @{
            double d = Model.Count/ 10.0;
            double pages = Math.Ceiling(d);
        }

        <div class="pagination-nav d-flex flex-row-reverse w-100">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item-cms d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li class="page-item-cms d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                   @for (int i = 1; i <= @pages; i++)
                    {
                        <li class="page-item-cms" id="@i"><a class="page-link">@i</a></li>
                    }
                    <li class="page-item-cms d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li class="page-item-cms d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <partial name="_AdminCmsAddForm" model="new AdminCmsVM()" />

</div>