@using System.Globalization
@model List<CIPlatform.Models.ViewDataModels.CommentUserInfo>



<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2 mt-0 pt-0" tabindex="0" style="height:400px">
    @foreach (var item in Model)
    {
        <div class="card-wrapper d-flex bg-white mt-2 p-3">
            <div class="user-image">
                @if(string.IsNullOrEmpty(item.users.Avatar))
                {
                    <img src="~/assets/user-img.png" alt="" class="rounded-circle" style="height:52px">
                }
                else
                {
                    <img src="@item.users.Avatar" alt="" class="rounded-circle" style="height:52px">
                }
            </div>
            <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                <div class="user-info-in-comment">
                    <span class="mb-0">@item.users.FirstName</span> <br />
                    @{
                        string dateString = @item.comments.CreatedAt.ToString();
                        DateTime date = DateTime.ParseExact(dateString, "dd-MM-yyyy HH:mm:ss", CultureInfo.InvariantCulture);
                        string formattedDate = date.ToString("dddd, MMMM dd, yyyy, h:mm tt");

                    <span style="font-size:13px ;margin-top:0;">@formattedDate</span>

                    }
                </div>
                <div class="user-comment mt-2">
                    <p>@item.comments.CommentDescription</p>
                </div>
            </div>
        </div>
        @*Monday, October 21, 2019 4:57 PM*@
    }
</div>
