@model List<CIPlatform.Models.ViewDataModels.MissionListingCard>

<div class="mission-card-wrapper">
    <div class="mission-cards row  view-group" id="products">
        @foreach (var item in Model)
        {
            <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                <div class="card thumbnail shadow card-to-scale">
                    <div class="card">
                        @*"@item.ImageLink.Replace("file/d/", "uc?export=download&id=").Replace("/view?usp=sharing","")"*@

                        <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                         class="card-img-top" alt="...">

                        <div class="card-img-overlay">
                            <div class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                <div class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                    <a href="" class="text-decoration-none text-light">
                                        <span>
                                            <img src="~/assets/pin.png" alt=""> @item.City &nbsp;
                                        </span>
                                    </a>
                                </div>
                                <div class="like-group d-flex flex-column justify-content-between">
                                    <div class="bg-dark p-1 my-1 rounded-circle d-flex justify-content-center align-items-center">
                                        @if (item.favourite != null)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="color: red;height:20px;width:20px">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                            </svg>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="white" class="bi bi-heart" viewBox="0 0 16 16" style="height:20px;width:20px">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                            </svg>

                                        }


                                    </div>

                                    <button class="bg-dark bg-dark p-1 my-1  rounded-pill border-0 recommendation-grid-list" id="tempToCoworker" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="gridListRecommend()">
                                        <img src="~/assets/add1.png" />
                                    </button>


                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="fw-lighter bg-white rounded-pill text-center fw-lighter w-50 align-self-center"
                      style="margin-top: -10px; z-index: 5;">@item.MissionTheme</span>
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.mission.Title
                        </h5>
                        @{
                            string missionDescription = item.mission.Description.ToString();
                            int indexOfFirstBr = missionDescription.IndexOf("<br>");
                            string firstParagraph = "";
                            if (indexOfFirstBr != -1)
                            {

                                firstParagraph += missionDescription.Substring(0, indexOfFirstBr);
                            }
                        }
                        <p class="card-text">
                            @firstParagraph
                        </p>
                        <div class="rating-img d-flex justify-content-between align-items-center">
                            <span class="fw-light fs">@item.mission.OrganizationName</span>
                            <div class="d-flex">
                                @{
                                    double? avgRating = @item.rating.Average(u => u.Rating);
                                }

                                @for (double i = 1; i <= 5; i += 1)
                                {
                                    if (i <= avgRating)
                                    {
                                        <i class="bi bi-star-fill text-warning"></i>
                                    }
                                    else if (i <= avgRating + 0.5)
                                    {
                                        <i class="bi bi-star-half text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star text-muted"></i>
                                    }
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                From
                                @item.mission.StartDate.ToString().Substring(0,10) until @item.mission.EndDate.ToString().Substring(0,10)
                            </span>
                        </div>
                        <hr class="" style="margin-top: -10px;">

                        <div class="time-seats">
                            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    @if (item.mission.MissionTypeId == 1)
                                    {
                                        <div class="d-flex align-items-center">

                                            <div class="seats mx-2">
                                                <img src="~/assets/Seats-left.png" alt="">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <span>
                                                    @item.mission.AvailableSeats
                                                </span>
                                                <span class="fw-lighter">Seats Left</span>
                                            </div>
                                        </div>

                                        <div class="deadlines d-flex align-items-center justify-content-between">
                                            <div class="deadline mx-2">
                                                <img src="~/assets/deadline.png" alt="">
                                            </div>
                                            <div class="d-flex flex-column ">
                                                <span>09/01/2019</span>
                                                <span class="fw-lighter">Deadline</span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center mx-2 w-75">
                                            <img src="~/assets/mission.png"
                                         style="height:24px; width:24px" />
                                            <div class="d-flex flex-column ms-2 w-75">
                                                <div class="progress" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="100"
                                             style="height:8px">
                                                    <div class="progress-bar bg-warning"
                                                 style="width: 75%"></div>
                                                </div>
                                                <span class="light-gray fs-fourteen mt-2">achieved</span>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mission-submit-btn text-center">
                            <a onclick="volunteeringMissionDetails(@item.mission.MissionId)">
                                <button type="submit" class="btn bg-white  rounded-pill px-4">
                                    Apply
                                    &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
</div>




<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel1">Select the co-workers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body grid_list_modal_body">
                <ul class="list-group" id="list-group-in-reccoworker" data-missiontitle="@ViewBag.missionTitle" data-missiontheme="@ViewBag.missionTheme" data-missionskills="@ViewBag.missionSkill">
                    @*@foreach (var item in Model)
                        {

                        <li class="list-group-item d-flex align-items-center co-worker-checkbox">
                        <input class="form-check-input me-1" type="checkbox" value="@item.Email" id="checkbox_@item.Email">
                        <label for="checkbox_@item.Email" class="user-image d-flex ms-1">
                        <img src="@item.Avatar" alt="" class="rounded-circle" style="height:40px">
                        <div class="d-flex flex-column ms-2">
                        <p class="mb-0 ">@item.FirstName @item.LastName  </p>
                        <p class="my-0" style="font-size:13px ;">@item.Email</p>
                        </div>
                        </label>
                        </li>
                        }*@
                    @*<li>Hi</li>*@
                </ul>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary reccommendMissionBtn" id="reccommendMissionBtn2" data-bs-dismiss="modal" onclick="jovamate()">Reccommend</button>
            </div>
        </div>
    </div>
</div>




<script>
        function volunteeringMissionDetails(missionId) {
        window.location.href = '@Url.Action("VolunteeringMissionPage","MissionListing")?missionId=' + missionId;
    }
</script>
