@model List<CIPlatform.Models.ViewDataModels.StoryListingViewModel>

<div class="row storytempchavda">
    @foreach(var item in Model)
    {
        <div class="col-12 col-md-6 col-lg-4  story-card-wrapper">
            <div class="card rounded shadow m-1 card-to-scale h-100">
                <div class="card img-to-overlay">
                    <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="text-center story-listing-btn-to-hide m-auto">
                            <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
                        <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                            <span class="rounded-pill px-2 bg-light">@item.Theme</span>
                        </div>
                    </div>
                </div>


                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@item.Missions.Title</h5>
                    <p class="card-text fw-lighter">@item.Missions.ShortDescription</p>
                    <div class="d-flex mt-auto align-items-center fw-light">
                        <img src="@item.Users.Avatar" class="rounded-circle me-2 " style="height:50px" />
                        <span>@item.Users.FirstName @item.Users.LastName</span>
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>


        @{
            double d = (int)@ViewData["totalStories"] / 3.0;
            double pages = Math.Ceiling(d);
        }


        <div class="mt-4 text-center m-auto">
            <nav aria-label="Page navigation example" class="story-listing-pagination-nav">
                <ul class="pagination">
                    <li class="page-item mx-2">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item mx-2">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                        </a>
                    </li>
                    @for (int i = 1; i <= @pages; i++)
                    {
                        <li class="page-item" id="@i"><a class="page-link">@i</a></li>
                    }


                    <li class="page-item mx-2">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                        </a>
                    </li>
                    <li class="page-item mx-2">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
