@model CIPlatform.Models.ViewDataModels.myMissionAndUser
@{
    bool favFlag;
}
<script src="~/js/MissionListing.js"></script>

<div class="mission-info-wrapper container w-md-100 w-lg-50 mt-5">

    @if (TempData["user-inactive"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.error('@TempData["user-inactive"]');
        </script>

    }

    <div class="mission-title">
        <h2 class="fw-light fs-2">@Model.myMission.mission.Title</h2>
    </div>
    <div class="mission-info">
        <h6 class="fw-lighter fs-5">@Model.myMission.mission.ShortDescription</h6>
    </div>
    <hr style="opacity:1; color:lightgray" />
    <div class="mission-goal-badge text-center" style="margin-top:-2rem">
        @if (Model.myMission.mission.MissionTypeId == 1)
        {
            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                    From
                                    @Model.myMission.mission.StartDate.ToString().Substring(0,10) until @Model.myMission.mission.EndDate.ToString().Substring(0,10)
            </span>
        }
        else if(Model.myMission.mission.MissionTypeId == 2)
        {
             <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                 @Model.GoalObjective
            </span>
        }
        else
        {
            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                 @Model.myMission.mission.MissionTheme.Title
            </span>
        }
    </div>
    <div class="seats-left-wrapper">
        @if (Model.myMission.mission.MissionTypeId == 1)
        {
            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="seats mx-2">
                        <img src="~/assets/Already-volunteered.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <span>@Model.myMission.mission.AvailableSeats</span>
                        <span class="fw-lighter">Seats left</span>
                    </div>
                </div>

                <div class="d-flex flex-column ">
                    <span>@Model.myMission.mission.RegistrationDeadline</span>
                    <span class="fw-lighter">Deadline</span>
                </div>
            </div>


        }
        else
        {
            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="seats mx-2">
                        <img src="~/assets/Already-volunteered.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <span>@Model.myMission.mission.MissionApplications.Count()</span>
                        <span class="fw-lighter">Already Volunteered</span>
                    </div>
                </div>

                <div class="d-flex align-items-center mx-2">
                    <img src="~/assets/mission.png"
                     style="height:24px; width:24px" />
                    <div class="d-flex flex-column ms-2 ">
                        <div class="progress" role="progressbar" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"
                         style="height:8px">
                            <div class="progress-bar bg-warning bg-orange-color"
                             style="width: @(@Model.myMission.GetGoalMission.Achieved*100/Model.myMission.GetGoalMission.GoalValue)%"></div>
                        </div>
                        <span class="light-gray fs-fourteen mt-2">achieved</span>
                    </div>
                </div>

            </div>
        }

    </div>

    <hr style="opacity:1; color:lightgray" />

    <div class="add-to-fav-and-share-btn d-flex justify-content-between mt-3 align-items-center flex-wrap flex-md-nowrap">
        @if (Model.myMission.favourite == null)
        {
            favFlag = false;
        }
        else
        {
            favFlag = true;
        }
        <div class="add-to-fav-btn w-100 w-md-50 my-2 me-2" id="add-rm-fav-div">
            @*<span>Fav mission is deleted or not??  @Model.myMission.favourite.DeletedAt</span>*@

            <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center" id="button-to-fav" data-isfav="@favFlag" data-mid="@Model.myMission.mission.MissionId">
                @if (Model.myMission.favourite == null || Model.myMission.favourite.DeletedAt != null)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" stroke="white" class="bi bi-heart" viewBox="0 0 16 16" style="height:20px;width:20px">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>

                    <span>
                        &nbsp; &nbsp; Add To Favourite
                    </span>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="color: red;height:20px;width:20px">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>

                    <span>
                        &nbsp; &nbsp; Remove From Favourite
                    </span>
                }

            </button>
        </div>

        <partial name="_ReccommendBtn" model="Model.Users" />
    </div>

    <hr style="opacity:1; color:lightgray" />
    <div class="text-center" style="margin-top:-2.5rem">
        <span class="rating-star-images bg-white">
            @if (Model.IsApproved)
            {
                @for (int i = 1; i <= Model.ratedByUser; i++)
                {
                    <i class="bi bi-star-fill text-warning fs-2" id="star@(i)" onclick="addRating(@i)" data-star="@(i)"></i>
                }
                @for (int j = (int)Model.ratedByUser + 1; j <= 5; j++)
                {
                    <i class="bi bi-star-fill text-muted fs-2" id="star@(j+1)" data-star="@(j+1)" onclick="addRating(@j)"></i>

                }
            }
            else
            {
                <i class="bi bi-star-fill text-muted fs-2" id="star1" data-star="1"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star2" data-star="2"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star3" data-star="3"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star4" data-star="4"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star5" data-star="5"></i>
            }



            @*<i class="bi bi-star-fill text-muted fs-2" id="star1" data-star="1"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star2" data-star="2"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star3" data-star="3"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star4" data-star="4"></i>
                <i class="bi bi-star-fill text-muted fs-2" id="star5" data-star="5"></i>*@

        </span>
    </div>

    <div class="mission-org-city-wrapper d-flex flex-wrap flex-md-nowrap justify-content-between mt-3">

        <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-25 ms-md-2">
            <img src="~/assets/pin1.png" />
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">City</span>
                <span class="city-tag text-secondary">@Model.myMission.City</span>
            </div>
        </div> <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-25 ms-md-2">
            <img src="~/assets/web.png" />
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Theme</span>
                <span class="city-tag text-secondary">@Model.myMission.MissionTheme</span>
            </div>
        </div>
        <div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-25 ms-md-2">
            <img src="~/assets/calender.png" />
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Date</span>
                <span class="city-tag text-secondary">@Model.myMission.mission.EndDate.ToString().Substring(0,11)</span>
            </div>
        </div><div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-25 ms-md-2">
            <img src="~/assets/organization.png" />
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Organization</span>
                <span class="city-tag text-secondary">@Model.myMission.mission.OrganizationName</span>
            </div>
        </div>
    </div>

    <div class="mission-submit-btn text-center mt-3 apply-missionbtn-div-volmission">
        @if (Model.IsApproved == true)
        {
             <button type="submit" class="btn bg-white  rounded-pill px-4 volMission-applybtn" data-missionid="@Model.myMission.mission.MissionId" onclick="applyMission()" disabled>
                Applied
                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
            </button>
        }
        else if (Model.IsApplied == true)
        {
            <button type="submit" class="btn bg-white  rounded-pill px-4 volMission-applybtn" data-missionid="@Model.myMission.mission.MissionId" onclick="applyMission()" disabled>
                Pending
                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
            </button>
        }
        else
        {

            <button type="submit" class="btn bg-white  rounded-pill px-4 volMission-applybtn" data-missionid="@Model.myMission.mission.MissionId" onclick="applyMission()">
                Apply
                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
            </button>
        }
    </div>

</div>