@model CIPlatform.Models.ViewDataModels.MissionListingCard

<div class="container-fluid">
    <div class="main-wrapper">
      
        <partial name="_Header" />
        @*<partial name="_Filter" />*@


<div class="container mt-4" >
    <div class="mission-image-and-info-wrapper d-flex flex-column flex-lg-row justify-content-between">
        <div class="temp">

            <div class="d-sm-flex w-md-100 w-lg-50 flex-column d-none h-100">


                <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" id="image-area" class="w-100 h-100" />

                <div id="carousel-bottom" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="row p-1">
                                <div class="col-3 p-1">
                                    <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/Nourish-the-Children-in--African-country.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" >
                            <div class="row p-1">
                                <div class="col-3 p-1">
                                    <img src="~/assets/Nourish-the-Children-in--African-country.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/Plantation-and-Afforestation-programme.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                                <div class="col-3 p-1">
                                    <img src="~/assets/Plantation-and-Afforestation-programme.png" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="175" height="120" role="img" onclick="display(this)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev w-auto ps-2 pe-2 bg-black bg-opacity-50 mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="prev">
                        <img src="~/assets/left1.png" aria-hidden="true" />
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next w-auto ps-2 pe-2 bg-black bg-opacity-50  mt-2 mb-2" type="button" data-bs-target="#carousel-bottom" data-bs-slide="next">
                        <img src="~/assets/right-arrow2.png" aria-hidden="true" />
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="w-100 d-xs-block d-sm-none">
                <partial name="_CarouselMobileView" />
            </div>
        </div>



        <div class="mission-info-wrapper container w-md-100 w-lg-50 mt-5">
            <div class="mission-title">
                <h2 class="fw-light fs-2">@Model.mission.Title</h2>
            </div>
            <div class="mission-info">
                <h6 class="fw-lighter fs-5">@Model.mission.ShortDescription</h6>
            </div>
            <hr style="opacity:1; color:lightgray" />
            <div class="mission-goal-badge text-center" style="margin-top:-2rem">
                <span class="border rounded-pill badge bg-white text-dark fw-lighter ">Plant 10,000 Trees</span>
            </div>
            <div class="seats-left-wrapper">

                <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="seats mx-2">
                            <img src="~/assets/Already-volunteered.png" alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <span>@Model.mission.AvailableSeats</span>
                            <span class="fw-lighter">Seats left</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mx-2">
                        <img src="~/assets/mission.png"
                             style="height:24px; width:24px" />
                        <div class="d-flex flex-column ms-2 ">
                            <div class="progress" role="progressbar" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="height:8px">
                                <div class="progress-bar bg-warning bg-orange-color"
                                     style="width: 75%"></div>
                            </div>
                            <span class="light-gray fs-fourteen mt-2">achieved</span>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="opacity:1; color:lightgray" />

            <div class="add-to-fav-and-share-btn d-flex justify-content-between mt-3 align-items-center flex-wrap flex-md-nowrap">
                <div class="add-to-fav-btn w-100 w-md-50 my-2 me-2">
                    <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill d-flex flex-wrap flex-md-nowrap justify-content-center">
                        <img src="~/assets/heart1.png" />
                        &nbsp; &nbsp;
                        <span>
                            Add To Favourite
                        </span>
                    </button>
                </div>
                <div class="add-to-fav-btn w-100 w-md-50 my-2">
                    <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill d-flex flex-wrap flex-md-nowrap justify-content-center">
                        <img src="~/assets/add1.png" />
                        &nbsp; &nbsp;
                        <span>
                            Recommend to a Co-Worker
                        </span>
                    </button>
                </div>
            </div>

            <hr style="opacity:1; color:lightgray" />
            <div class="text-center" style="margin-top:-2rem">
                <span class="rating-star-images bg-white">
                    <img src="~/assets/star-empty.png" />
                    <img src="~/assets/star-empty.png" />
                    <img src="~/assets/star-empty.png" />
                    <img src="~/assets/star-empty.png" />
                    <img src="~/assets/star-empty.png" />
                </span>
            </div>

            <div class="mission-org-city-wrapper d-flex flex-wrap flex-md-nowrap justify-content-between mt-3">
                @*   <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-100 ">
                    <img src="~/assets/pin1.png" />
                    <div class="mission-location-info d-flex flex-column flex-start mt-4">
                    <span class="city-tag text-secondary fw-lighter">City</span>
                    <span class="city-tag text-secondary">Berlin</span>
                    </div>
                    </div>*@
                <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-25 ms-md-2">
                    <img src="~/assets/pin1.png" />
                    <div class="mission-location-info d-flex flex-column flex-start mt-4">
                        <span class="city-tag text-secondary fw-lighter">City</span>
                        <span class="city-tag text-secondary">@Model.City</span>
                    </div>
                </div> <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-25 ms-md-2">
                    <img src="~/assets/web.png" />
                    <div class="mission-location-info d-flex flex-column flex-start mt-4">
                        <span class="city-tag text-secondary fw-lighter">Theme</span>
                        <span class="city-tag text-secondary">@Model.MissionTheme</span>
                    </div>
                </div>
                <div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-25 ms-md-2">
                    <img src="~/assets/calender.png" />
                    <div class="mission-location-info d-flex flex-column flex-start mt-4">
                        <span class="city-tag text-secondary fw-lighter">Date</span>
                        <span class="city-tag text-secondary">@Model.mission.EndDate.ToString().Substring(0,11)</span>
                    </div>
                </div><div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-25 ms-md-2">
                    <img src="~/assets/organization.png" />
                    <div class="mission-location-info d-flex flex-column flex-start mt-4">
                        <span class="city-tag text-secondary fw-lighter">Organization</span>
                        <span class="city-tag text-secondary">@Model.mission.OrganizationName</span>
                    </div>
                </div>
            </div>

            <div class="mission-submit-btn text-center mt-3">
                <button type="submit" class="btn bg-white  rounded-pill px-4">
                    Apply
                    &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                </button>
            </div>

        </div>

    </div>

    <div classs="mission-details-information-recent-vol-wrapper mt-5" style="margin-top:60px">

        <div class="row justify-content-between">

            <div class="col-12 col-lg-8 h-100 mt-5">
                <div class="">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active text-dark fw-lighter"
                                    id="nav-home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-home"
                                    aria-selected="true">
                                Mission
                            </button>
                            <button class="nav-link text-dark fw-lighter"
                                    id="nav-profile-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-profile"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-profile"
                                    aria-selected="false">
                                Organization
                            </button>
                            <button class="nav-link text-dark fw-lighter"
                                    id="nav-contact-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-contact"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-contact"
                                    aria-selected="false">
                                Comments
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content mt-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <h2 class="fs-3 fw-normal text-lighter">Introduction</h2>
                            <p class="fw-lighter paragraph" style="font-size:15px">
                                @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <br />
                                <br />
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                @orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*@
        
                               @Html.Raw(@Model.mission.Description)

                            </p>

                            <h2 class="fs-3 fw-normal text-lighter mt-4">Challenge</h2>
                            <p class="fw-lighter" style="font-size:15px">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                            <h2 class="fs-3 fw-normal text-lighter mt-4">Documents</h2>
                            <div class="d-flex mt-3 documents-badges">
                                <div class="border btn-primary bg-white text-dark rounded-pill mx-2">

                                    <button class="border btn-primary bg-white text-dark rounded-pill py-2 px-4">
                                        <img src="~/assets/pdf.png" /> &nbsp; &nbsp; lorem-ipsum.pdf
                                    </button>

                                </div>
                                <div class="border btn-primary bg-white text-dark rounded-pill mx-2">

                                    <button class="border btn-primary bg-white text-dark rounded-pill py-2 px-4">
                                        <img src="~/assets/doc.png" /> &nbsp; &nbsp; lorem-ipsum.doc
                                    </button>

                                </div>
                                <div class="border btn-primary bg-white text-dark rounded-pill mx-2">

                                    <button class="border btn-primary bg-white text-dark rounded-pill py-2 px-4">
                                        <img src="~/assets/xlsx.png" /> &nbsp; &nbsp; lorem-ipsum.xlsx
                                    </button>

                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <p class="text-secondary fw-lighter">
                                Optimy organizations working on environmental, social, advocacy and human rights. They can work to promote social or political change on a broad scale or very locally. NGOs play a critical part in developing society, improving communities, and promoting citizen participation.
                            </p>
                        </div>
                        <div class="tab-pane fade"
                             id="nav-contact"
                             role="tabpanel"
                             aria-labelledby="nav-contact-tab"
                             tabindex="0">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Enter Your Comments" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2" class="text-secondary">Enter Your Comments...</label>
                            </div>
                            <div class="mission-submit-btn text-start mt-3">
                                <button type="submit" class="btn bg-white  rounded-pill px-4">
                                    Post Comment
                                </button>
                            </div>

                            <div class="bg-light mt-4">
                                <nav id="navbar-example2" class="navbar bg-light px-3 mb-0">
                                    <a class="navbar-brand text-decoration-none text-secondary" href="#">Past Comments</a>
                                </nav>
                                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2 mt-0 pt-0" tabindex="0" style="height:400px">
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2 p-3">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-wrapper d-flex bg-white mt-2">
                                        <div class="user-image">
                                            <img src="~/assets/volunteer9.png" alt="" class="rounded-circle" style="height:52px">
                                        </div>
                                        <div class="user-info-comment d-flex flex-column justify-content-between ms-3">
                                            <div class="user-info-in-comment">
                                                <span class="mb-0">Soniya</span> <br />
                                                <span style="font-size:13px ;margin-top:0;">Monday, October 21, 2019 4:57 PM</span>
                                            </div>
                                            <div class="user-comment mt-2">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nostrum quidem accusamus voluptas praesentium aliquam quos voluptates ipsam recusandae eveniet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-4 h-100">
                <div class="information-rating-table border p-4">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active text-dark fs-3 fw-lighter"
                                    id="nav-home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-home"
                                    aria-selected="true">
                                Information
                            </button>
                        </div>
                    </nav>
                            <div class="row border-bottom mt-3" style="font-size:15px">
                                <div class="col-xl-3">
                                    <h6 class="fw-lighter">Skills</h6>
                                </div>
                                <div class="col-xl-9">
                                    <h6 class="fw-lighter">
                                        @foreach (var skill in Model.Skills)
                                        {
                                            <span>@skill &nbsp;</span>
                                        }
                                    </h6>
                                </div>
                    </div>
                    <div class="row border-bottom mt-3" style="font-size:15px">
                        <div class="col-xl-3">
                            <h6 class="fw-lighter">Days</h6>
                        </div>
                        <div class="col-xl-9">
                                    
                                        @if (@Model.mission.AvailabilityId == 1)
                                        {
                                          <h6 class="fw-lighter">  Daily </h6>
                                        }
                                        else if (@Model.mission.AvailabilityId == 2)
                                        {
                                             <h6 class="fw-lighter">  Weekly Only </h6>
                                        }
                                        else if (@Model.mission.AvailabilityId == 3)
                                        {
                                             <h6 class="fw-lighter">  Weekend Only</h6>
                                        }
                                        else
                                        {
                                             <h6 class="fw-lighter">  Monthly Only</h6>
                                        }
                                        
                                    
                                    </div>
                    </div>
                    <div class="row  mt-3" style="font-size:15px">
                        <div class="col-xl-3">
                            <h6 class="fw-lighter">Rating</h6>
                        </div>
                        <div class="col-xl-9">
                            <h6 class="fw-lighter">
                                <img src="~/assets/selected-star.png" />
                                <img src="~/assets/selected-star.png" />
                                <img src="~/assets/selected-star.png" />
                                <img src="~/assets/selected-star.png" />
                                <img src="~/assets/selected-star.png" />
                                &nbsp; &nbsp;
                                (by 126 volunteers)
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="recent-volunteers border p-4 mt-5">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active text-dark fs-3 fw-lighter"
                                    id="nav-home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-home"
                                    aria-selected="true">
                                Recent Volunteers
                            </button>
                        </div>
                    </nav> 
                    <div id="myCarousel" class="carousel slide text-dark">
                        <div class="carousel-inner w-100 text-center" style="font-size:13px">
                            <div class="carousel-item chirag" data-item-number=1>
                                <div class="row">
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer1.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="carousel-item chirag active" data-item-number=2>
                                <div class="row">
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer2.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer2.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer2.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer3.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer4.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer5.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer6.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer7.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>
                                    <div class="col-4 mt-4">
                                        <div class="d-flex flex-column align-items-center recent-volunteer-images">
                                            <img src="~/assets/volunteer8.png" class="rounded-circle" />
                                            <span>Andrew Johnson</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border mt-3 align-items-center" style="height:50px">
                        <button class="carousel-control border-0 border-end h-100"
                                type="button"
                                data-bs-target="#myCarousel"
                                data-bs-slide="prev" 
                                onclick="getRecentVolunteersCount()">
                           <i class="bi bi-chevron-left"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <span class="pagination-recent-volunteers"> <span id="from_vol"></span>  &nbsp; - &nbsp; <span id="to_vol"></span> of &nbsp; <span id="total_vol"></span> Recent Volunteers </span>
                        <button class="carousel-control border-0 border-end h-100"
                                type="button"
                                data-bs-target="#myCarousel"
                                data-bs-slide="next"
                                onclick="getRecentVolunteersCount()" >
                            <i class="bi bi-chevron-right"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>



                </div>

            </div>


        </div>

    </div>

</div>
</div>
</div>






<script>
function display(item) {
            let image = document.getElementById("image-area");
            image.src = item.src;
        }

            var carouselItems = document.querySelectorAll('.recent-volunteer-images');
            let totalImgs = 0;

        carouselItems.forEach((item)=>{
            let images = item.querySelectorAll('img');
            totalImgs += images.length;
        });
        
        function getRecentVolunteersCount(){
            let a = document.getElementById("total_vol");
            a.textContent = totalImgs;


            let currentCarouselItem = document.querySelector(".carousel-item.chirag.active").getAttribute("data-item-number");
            console.log(currentCarouselItem);

            let from_vol_no = ((currentCarouselItem-1)*9)+1;
            let to_vol_no = currentCarouselItem*9;

            let from_vol = document.getElementById("from_vol");
            let to_vol = document.getElementById("to_vol");

            from_vol.textContent = from_vol_no;
            to_vol.textContent = to_vol_no;
            console.log("Total Images : " + totalImgs);

        }
        getRecentVolunteersCount();



</script>

