@using CIPlatform.Models.ViewDataModels
@model UserDetailViewModel

<script src="~/js/UserEdit.js"></script>
<div class="container-fluid">

    <div class="main-wrapper">
        <partial name="_Header" />
        <hr />

        <form id="user-edit-formtag">
            <div class="row mt-5 container m-auto">
                <div class="d-flex col-lg-3 flex-column align-items-center border py-3 px-5 user-edit-page">
                    <img src="@Model.Avatar" class="rounded-circle user-img-left" />
                    <p class="mt-3 mb-0">@Model.FirstName @Model.LastName</p>
                    <a href="#"
                       class="fst-normal text-decoration-none text-secondary"
                       data-bs-toggle="modal"
                       data-bs-target="#exampleModal">Change Password</a>
                </div>

                <div class="ms-lg-3 col-lg-8">

                    <div class="mb-5">
                        <div class="border-bottom">
                            <span class="user-basic-information fw-normal h3 border-bottom border-dark ">Basic Information</span>
                        </div>
                        <div class="user-basic-info-form my-3 text-secondary">
                            <div class="d-flex mb-3">
                                <div class="w-100 me-3">
                                    <label for="name" class="form-label">Name<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.FirstName" type="text" class="form-control" id="useredit-name" placeholder="Enter your name" required>
                                </div>
                                <div class="w-100">
                                    <label for="surname" class="form-label">Surname<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.LastName" type="text" class="form-control" id="useredit-surname" placeholder="Enter your surname" required>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="w-100 me-3">
                                    <label for="eid" class="form-label">Employee ID</label>
                                    <input asp-for="@Model.EmployeeId" type="text" class="form-control" id="useredit-eid" placeholder="Enter your employee id">
                                </div>
                                <div class="w-100">
                                    <label for="manager" class="form-label">Manager</label>
                                    <input asp-for="@Model.Manager" type="text" class="form-control" id="useredit-manager" placeholder="Enter your manager details">
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="w-100 me-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input asp-for="@Model.Title" type="text" class="form-control" id="useredit-title" placeholder="Enter your designation">
                                </div>
                                <div class="w-100">
                                    <label for="dept" class="form-label">Department</label>
                                    <input asp-for="@Model.Department" type="text" class="form-control" id="useredit-dept" placeholder="Enter your department">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="myprofile" class="form-label">My Profile <span class="text-danger">*</span></label>
                                <textarea asp-for="@Model.MyProfile" class="form-control" id="useredit-myprofile" rows="3" placeholder="Enter your profile details..."></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="whyIVol" class="form-label">Why I Volunteer  ?</label>
                                <textarea asp-for="@Model.WhyIVolunteer" class="form-control" id="useredit-whyIVol" rows="3" placeholder="Enter your comments..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="my-5">
                        <div class="border-bottom">
                            <span class="user-address-information fw-normal h3 border-bottom border-dark ">Address Information</span>
                        </div>
                        <div class="user-address-info-form mt-3 text-secondary">
                            <div class="d-flex mb-3">
                                <div class="w-100 me-3">
                                    <label for="user-city" class="form-label">City</label>
                                    <input asp-for="@Model.City" type="text" class="form-control" id="user-city" placeholder="Enter your city">
                                </div>
                                <div class="w-100">
                                    <label for="user-country" class="form-label">Country<span class="text-danger">*</span></label>
                                    <select id="user-country" class="form-select">
                                        <option>Select your conutry</option>
                                        @foreach (var country in Model.Countries)
                                        {
                                            <option data-countryid="@country.CountryId">@country.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-5">
                        <div class="border-bottom">
                            <span class="user-professional-information fw-normal h3 border-bottom border-dark ">Professional Information</span>
                        </div>
                        <div class="user-professional-info-form mt-3 text-secondary">
                            <div class="d-flex mb-3">
                                <div class="w-100">
                                    <label for="user-availability" class="form-label">Availability</label>
                                    <select asp-for="@Model.Availability" id="user-availability" class="form-select">
                                        <option>Select your availability</option>
                                        @foreach (var availability in Model.Availabilities)
                                        {
                                            <option data-availabilityid="@availability.AvailabilityId">@availability.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="w-100 me-3">
                                    <label for="user-linkedin" class="form-label">LinkedIn</label>
                                    <input asp-for="@Model.LinkedIn" type="text" class="form-control" id="user-linkedin" placeholder="Enter your linkedin URL">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-5">
                        <div class="border-bottom">
                            <span class="user-skill-information fw-normal h3 border-bottom border-dark ">My Skills</span>
                        </div>
                        <div class="user-skill-info-form my-3 text-secondary border border-secondary ps-3">
                            @foreach (var skill in Model.Skills)
                            {
                                <span data-skillid="@skill.Key">@skill.Value</span>
                            }
                        </div>
                        <button class="btn btn-primary bg-white border-secondary rounded-pill px-4 text-secondary" data-bs-toggle="modal" data-bs-target="#addSkillModal" id="addskills-useredit">Add Skills</button>

                    </div>

                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary bg-white rounded-pill px-4 text-orange border-orange" id="save-useredit">Save</button>
                    </div>


                </div>
            </div>
        </form>

    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Change Password
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="userEditPasswordForm">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="password"
                               class="form-control"
                               id="oldpwd"
                               placeholder="Password" />
                        <label for="floatingPassword">Enter Old Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password"
                               class="form-control"
                               id="newpwd"
                               placeholder="Password" />
                        <label for="floatingPassword">Enter New Password</label>
                    </div>

                    <div class="form-floating">
                        <input type="password"
                               class="form-control"
                               id="cnewpwd"
                               placeholder="Password" />
                        <label for="floatingPassword">Confirm New Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary bg-white border-secondary rounded-pill px-4 text-secondary" data-bs-dismiss="modal" id="cancel-modal-useredit" onclick="clearPasswordFields()">Cancel</button>

                    <button type="submit" class="btn btn-primary bg-white rounded-pill px-4 text-orange border-orange" id="changePasswordButton" disabled>Change Password</button>

                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Add Skills </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-between m-auto align-items-center" style="height: 500px">
                    <div class="col-5 border" style="height: 500px">
                        <div class="skills-list text-start">
                          <div class="checkbox-list">
                                @foreach (var skill in @Model.AllSkills)
                                {
                                    <div class="form-check">
                                        <input class="btn-check form-check-input left-skill-check" type="checkbox" value="@skill.SkillId" id="skillcheckbox-@skill.SkillId" @(Model.Skills.Keys.Any(s => s==skill.SkillId) ? "checked" : "")>
                                        <label class="form-check-label" for="skillcheckbox-@skill.SkillId">
                                            @skill.SkillName
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center">
                        <div class="right-icon mb-3">
                             <button class="btn bg-light rounded-circle" id="toRightSkills"><i class=" bi bi-chevron-right"></i></button>
                        </div>
                        <div class="left-icon">
                             <button class="btn bg-light rounded-circle" id="toLeftSkills"><i class=" bi bi-chevron-left"></i></button>
                        </div>
                    </div>
                    <div class="col-5 border" style="height: 500px">
                        <div class="checkbox-list selected-skills-list text-start">
                            @foreach (var skill in @Model.Skills)
                            {
                                <div class="form-check">
                                    <input class="btn-check form-check-input right-skill-check" type="checkbox" value="@skill.Key" id="skillcheckboxright-@skill.Key">
                                    <label class="form-check-label" for="skillcheckboxright-@skill.Key">
                                        @skill.Value
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <button class="btn btn-primary bg-white border-secondary rounded-pill px-4 text-secondary me-3" id="addskills-cancel-useredit" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary bg-white rounded-pill px-4 text-warning border-warning " id="addskills-save-useredit">
                        Save
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>

